@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <h3>Blazor Spider Solitaire</h3>
        <a href="/help.html" target="_blank">Help</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
